*{
    --blue:rgb(243, 236, 255);
    --green:rgb(243, 236, 255);
    --red:rgb(243, 236, 255);

}
a{
    text-decoration: none;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: calc(100% - 10px);
    height: 48px;
    background-color: var(--prim);
    box-shadow: 0 5px 10px 0 rgba(80,80,80,0.6);
}

.emprendimientos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 50px;
    place-items: center;
    padding: 5% 20px;
    width: calc(100% - 40px);
    transition: all 0.3s ease-in-out;
}
.emprendimiento{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    place-content: start;
    flex-direction: column;
    height: 412px;
    width: 312px;
    padding: 2px;
    background-color: var(--white);
    border: 2px solid var(--prim);
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(60, 60, 60, 0.35);
    transition: all 0.3s ease-in-out;
}
.emprendimiento[data-color="blue"]{
    --bg: var(--blue);
}
.emprendimiento[data-color="red"]{
    --bg: var(--red);
}
.emprendimiento[data-color="green"]{
    --bg: var(--green);
}
.emprendimiento::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 110;
}
.emprendimiento::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--bg);
    z-index: 110;
}
.emprendimiento *{
   margin: 0 5px;
   z-index: 120;
   font-size: 18px;
   color: rgb(44, 44, 71);
}
.emprendimiento .main-img{
    display: block;
    position: relative;
    height: 250px;
    width: calc(100% + 8px);
    transform: translate(-4px,-4px);
    background-color: var(--white);
    border-bottom: 2px solid var(--prim);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.emprendimiento .extra{
    display: none;
    height: 0;
    overflow: hidden;
    animation: 0.3s ease-in-out;
    animation-name: expand;
    margin: 0;
    margin-right: 8px;
}
.extra .visitar{
    color: var(--white);
    background-color: var(--prim);
    border: 2px solid var(--prim);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50px;
    text-align: center; 
    display: block;
    margin-top: 10px;
}
.extra .reportar{
    box-sizing: border-box;
    color: var(--prim);
    border: 2px solid var(--prim);
    padding: 5px;
    border-radius: 50px;
    text-align: center; 
    display: block;
    margin-top: 10px;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}
.extra .reportar:hover{
    opacity: 1;
    color: var(--white);
    border: 2px solid rgb(200,80,80);
    background-color: rgb(200,80,80);
}
.extra .reportar:hover::after{
    content: " !";
    opacity: 1;
    color: var(--white);
    animation: 0.3s ease-in-out;
    animation-name: appear;
}
.extra .reportar:hover::before{
    content: "¡ ";
    opacity: 1;
    color: var(--white);
    animation: 0.3s ease-in-out;
    animation-name: appear;
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}


@keyframes expand {
    0%{
        flex-grow: 0;
    }
    100%{
        flex-grow: 1;
    }
}
.emprendimiento .title-container{
    width: calc(100% - 8px);
    overflow: hidden;
    margin: 0 4px;
    margin-top: -2px;
    margin-bottom: 4px;
}
.emprendimiento h2{
    text-overflow: ellipsis;
    width: 200vw;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    color: var(--prim);
}
.emprendimiento .icon{
    height: 1em;
    display: inline;
}

.emprendimiento p{
    text-align: justify;
}
.emprendimientos:has(.emprendimiento:hover){
    background: rgba(145,145,185,0.15);
}

.emprendimientos:has(.emprendimiento:hover) .emprendimiento{
    opacity: 0.5;
}
.emprendimiento:hover{
    opacity: 1 !important;
}
.emprendimiento:hover .main-img{
    height: 0;
    border-bottom: 0 solid var(--prim);
    opacity: 0;
}
.emprendimiento:hover .extra{
    display: block;
    flex-grow: 1;
}